*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{   
    height: 100px;
    width: 100px;
    background-color: rgb(190, 124, 1);
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 0.1s; */
    transition: all 0.1s;
}

.box:hover{
    background-color: rgb(128, 84, 3);
    height: 101px;
    width: 101px;
    box-shadow: 0px 0px 12px 2px rgb(220, 201, 167);
}