*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
nav{
    padding: 0px 30px;
    height: 80px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-part1{
    margin: 20px;
    display: flex;
    align-items: center;
}
.gola{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
#nav-part2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
#nav-part2 span{
    color: #929799;
    margin-left: 10px;
}
#nav2{
    padding: 0px 30px;
    height: 80px;
    width: 70%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    
}
#nav2 h3{
    font-size: 15px;
    text-transform: uppercase;
}
#content{
    width: 100%;
    height: calc(100% - 160px);
    background-color: rgb(173, 86, 223);
}