*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

img{
    height: 500px;
    position: relative;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out  ;
}

@keyframes anime {
    from{
        left: 0;
        top: 0;

    }
    to{
        left: 60%;
        rotate: -90deg  ;
    }
}