*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

html, body{
    height: 100%;
    width: 100%;
}

#main {
    padding: 0px 18px;
    height: 90%;
    width: 100%;
    /* background-color: greenyellow; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: flex-end;
}

#left{
    margin-left: 140px;
    padding-bottom: 10px;
    padding-top: 58px;
    height: 100%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#left h1{
    font-size: 6.5vw;
    font-weight: 600;
    line-height: 9vw;
}

#bottom-left{
    margin-top: 57px;
    width: 100%;
    height: 37%;
    /* background-color: yellow; */
    position: relative;
}
#color h5{
    font-size: 16px;
    font-weight: 900;
}

#color{
    /* background-color: blue; */
    width: 200px;
    padding: 9px;
    border: 1px solid black;
    border-radius: 22px;
    display: flex;
    justify-content: space-evenly;
}

#color1{
    height: 20px;
    width: 20px;
    background-color: rgb(97, 44, 240);
    border: 1px solid black;
    border-radius: 50%;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: rgb(54, 160, 214);
    border: 1px solid black;
    border-radius: 50%;
}
#color3{
    height: 20px;
    width: 20px;
    background-color: rgb(10, 12, 14);
    border: 1px solid black;
    border-radius: 50%;
}
#color4{
    height: 20px;
    width: 20px;
    background-color: rgb(238, 70, 171);
    border: 1px solid black;
    border-radius: 50%;
}


.colorss:hover{
    size: upscale(1);
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
}
#bottom-left h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
}

#bottom-left p{
    width: 91%;
    color: #444;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}
#right{
    height: 90%;
    width: 32%;
    /* background-color: rgb(16, 174, 217); */
    position: relative;
}

#right-top {
    display: flex;
    height: 50px;
    width: 100%;
    /* background-color: blueviolet; */
    justify-content: space-between;
    align-items: center;
}
#right-top h4{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
#right-top h5{
    font-weight: 800;
    padding-right: 15px;
}
#right-top h5 i{
    color: green;
}

#right img{
    width: 100%;
    object-fit: cover;
}
#cart{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100px ;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(3, 58, 81);
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 80%;
    top: 60%;
}
#cart h5{
    font-weight: 600;
}
#cart:hover{
    size: upscale(1);
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
}

#rotated{
    position: absolute;
    left: 45%;
    bottom: 26%;
    /* background-color: red; */
    rotate: 270deg;
    font-size: 36px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
