*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: rgb(18, 189, 232);
}

body{
    background-color: rgb(40, 45, 49);
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

.main-container{
    display: grid;
    max-width: 1378px;
    grid-template-columns: 350px 1fr;
    gap: 60px;
    padding: 50px;
    margin: auto;
}

.side-bar{
    height: 90vh;
    background-color: rgb(27 28 28);
    border-radius: 10px;
    padding: 20px;
}


/* profile section */
.profile{
    padding: 20px;
    text-align: center;
}
.profile img{
    height: 100px;
    width: 107px;
    border-radius: 50%;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700px;
    margin-top: 20px;
}
.profile p{
    background-color: black;
    border-radius: 10px;
    color: rgb(90, 239, 255);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px rgb(4, 131, 147);
}

/* contact section */
.contact{
    margin-top: 2px;
    border-top: 1px solid rgb(14, 205, 239);
    padding: 10px;
    margin: 5px;  
    border-bottom: 1px solid rgb(14, 205, 239);  
}
.label{
    color: rgb(35 127 143);
    font-size: 1rem;
}
.value{
    color: antiquewhite;
    font-size: 0.8rem;
    text-decoration: none;
}
.email, .phone{
    margin-bottom: 15px;
}

/* Social section */
.social{
    padding: 10px;
    margin: 5px;  
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(1201%) hue-rotate(150deg) brightness(106%) contrast(102%);
    transition: filter 2s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* Main Content */

.main-content{
    background-color: rgb(27 28 28);
    border-radius: 10px;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

#navigation{
    padding-top: 0px;
    border-bottom: 0.2px solid rgb(8, 220, 227);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav a{
    text-decoration: none;
    font-weight: 500px;
    font-size: 20px;
    color: rgb(22, 117, 117);
    transition: all;
}
nav a:hover , .active{
    border: 1px solid black;
    border-radius: 3.40282e38px;;
    background: transparent;
    transform: scale(1);
    padding: 9px;
    box-shadow: 0px 0px 20px 3px rgb(7, 124, 137);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
    color: aqua;
}

/* About Me */
#about{
   padding-bottom: 20px; 
}

#about h2{
    padding-bottom: 20px;
    font-size: 2rem;
}
.line{
    width: 61px;
    height: 5px;
    margin-bottom: 15px;
    background-color: aqua;
}

.content{
    text-align: justify;
    color: rgb(144, 165, 171);
}

/* Skills */

#skills h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.items img{
    height: 100px;
    width: 100px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(1201%) hue-rotate(150deg) brightness(106%) contrast(102%);
    transition: filter 2s ease;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background: transparent;
}

.items img:hover{
    background: transparent;
    transform: scale(1);
    padding: 9px;
    box-shadow: 0px 0px 20px 3px rgb(2, 61, 67);
    transition-duration: 0.4s;
    transition-timing-function: var(ease);
    color: aqua;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    text-align: center;
}

#skills{
    padding-bottom: 20px
}

/* Education Section */

#education{
    margin-top: 10px;
}
#education h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.edtech{
    padding-left: 20px;
}

.year{
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: rgb(3, 128, 135);
}

.degree{
    margin-bottom: 5px;
    color: rgb(15, 227, 238);
}

.college{
    margin-bottom: 5px;
    color: rgb(147, 185, 187);
}
.learning{
    padding-bottom: 20px;
}
