*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

#main{
}
.nav{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    background: white;
    position: fixed;
    /* background-color: rgb(92, 142, 167); */
}

.nav h4{
    font-size: 2.5vw;
}
.nav .ri-shopping-bag-line{
    border: 2px solid black;
    border-radius: 50%;
    padding: 1vw;
    color: white;
    background-color: rgb(7, 7, 7);
    font-size: 2.4vw;
}
.ri-shopping-bag-line:hover{
    color: black;
    background-color: rgb(43, 208, 241);
    cursor: pointer;
}

.center{
    width: 100%;
    /* background-color: rgb(122, 220, 227); */
    padding: 80px 100px;
    padding-bottom: 10px;

}
.center h1{
    font-size: 6vw;
    font-weight: 50;
    line-height: 6vw;
}

.center-in{
    /* background-color: red; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 2.5vw;
    font-size: 1.8vw;
}

#right{
    /* background-color: aqua; */
    width: 300px;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-top: 2px solid black;
    /* background-color: yellow; */
}

.elem a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.elem i{
    font-size: 30px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#bottom {
    margin-top: 0;
    height: 300px;
    width: 100%;
    /* background-color: brown; */
    background-image: url(https://plus.unsplash.com/premium_photo-1697730467431-323d86486a4c?q=80&w=1213&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0% 40%;
    background-size: cover;
}